
#container{
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background: gray;
  /* background: url(''); */
  background-size: cover;
  background-position: center;
} 

#date-two{
  margin-top: 40px;  
}
