body{
	font-family: 'Noto Sans', sans-serif;
  padding: 10px;
}

#container{
  height: 900px;
  width: 800px;
  margin: 100px auto;
  background: rgba(2,27,64,1);
  background: linear-gradient(133deg, rgba(2,27,64,1) 11%, rgba(9,71,121,1) 100%);
  /* background: url(''); */
  background-size: cover;
  background-position: center;
  /* overscroll-behavior: contain; */
} 

#top-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

#top-section h2{
  color: #fff;
  margin-top: -70px;
}
#logo{
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

#logo img{
  height: 100%;
  width: 100%;
  transform: scale(.5, .5);
  /* overscroll-behavior: contain; */
}



#form_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

form{
  color: #fff;
}
#date-one{
  margin-top: 40px;
  color: #fff;
}

#date-two{
  margin-top: 40px;
  color: #fff;
}

.dateFrame2_data{
  font-size: 2rem;
  color: #fff;
}

#date-three{
  margin-top: 40px;
  color: #fff;
}
