
#container{
  height: 600px;
  width: 800px;
  margin: 100px auto;
  background: royalblue;
  /* background: url(''); */
  background-size: cover;
  background-position: center;
} 

#date-one{
  margin-top: 40px;
}

#date-two{
  margin-top: 40px;
}

#date-three{
  margin-top: 40px;  
}
